/* Solarized Dark Theme */

:root {
  --color-background: #002b36;
  --color-primary: #839496;
  --color-accent: #2aa198;
  --color-hover: rgba(0,0,0,.2);
  --color-surface: rgba(255,255,255,.05);
  --color-border: rgba(255,255,255,.1);
  --color-danger: #dc322f;
  --color-success: #859900;
}
